requests
beautifulsoup4
pandas
numpy
seaborn
matplotlib
Pillow
psutil
pywhatkit
twilio
googlesearch-python
scikit-learn
streamlit
gradio
boto3
pyaudioop
streamlit
markdown-it-py==2.2.0
mdit-py-plugins==0.3.3
pygments==2.19.1
rich==13.7.1
pyaudio
speechrecognition
sounddevice
gradio
google
google-generativeai